/**
 * Header
 */

.header {
  padding: 50px 0 40px;

  .container {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      margin: 0 15px;
      border-bottom: 1px solid rgba(48, 197, 135, 0.3);
    }
  }
  &_autocomplete {
    position: relative;

    &_results {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 3;
      background-color: #393d3e;
      box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.5);
      border-radius: 0 0 4px 4px;

      li {
        border-top: 1px solid #414141;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          a {
            border-radius: 0 0 4px 4px;
          }
        }

        dl {
          margin: 0;
          dt {
            font-weight: 500;
            font-size: 15px;
          }
          dd {
            margin: 0;
            font-size: 12px;
            color: #ccc;
          }
        }

        a {
          display: block;
          padding: 10px 20px;
          color: #fff;
          text-decoration: none;

          &:hover, &:focus {
            background-color: #01d277;
          }

          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(1, 210, 119, 0.25);
            outline: none;
          }
        }
      }
    }

    input {
      margin: 3px 0 0 0;
      padding: 10px 20px;
      width: 100%;
      background: rgba(0,0,0,.1);
      border: none;
      color: #c6c6c6;
      border-radius: 4px;

      &::placeholder {
        color: #c6c6c6;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #c6c6c6;
      }

      &:-ms-input-placeholder {
        color: #c6c6c6;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(1, 210, 119, 0.25);
      }
    }
  }
}