/**
 * Logo
 */

.logo {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: bold;

  &:hover {
    color: #fff;
  }

  img {
    max-width: 150px;
    margin-right: 20px;
  }
  p {
    display: inline-block;
  }
}