/**
 * Movie
 */

.movie {
  &_content {
    padding: 45px;
  }
  &_similar {
    border-top: 1px solid rgba(48, 197, 135, 0.3);
    h3 {
      margin: 45px 0;
      color: #fff;
    }
  }

  &_poster {
    img {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    }
  }
  &_entry {
    position: relative;
    padding: 30px;
    height: 100%;
    color: #fff;
    font-size: 15px;
  }
  &_tagline {
    color: #01d277;
  }
  &_overview {
    padding: 15px 0;
  }
  &_details {
    dt {
      color: #01d277;
      font-weight: 500;
    }
  }
}