/**
 * Movies
 */

.movies {
  position: relative;
  padding-top: 45px;

  &_item {
    padding-bottom: 30px;
    transition: all 300ms;

    &:hover {
      transform: scale(1.05);

      img {
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
      }
    }

    a {
      text-decoration: none;
    }
    img {
      width: 100%;
      border-radius: 4px;
      transition: all 300ms;
    }
    h5 {
      margin: 10px 0 3px;
      font-size: 15px;
      color: #fff;
    }
    p {
      color: #ccc;
      font-size: 12px;
    }
    h5, p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}