/**
 * Pagination
 */

.pagination {
  margin-bottom: 45px;
}

.page-item {
  &.active {
    .page-link {
      background-color: #01d277;
      border-color: #01d277;
    }
  }
  &.disabled .page-link {
    color: #535252;
    border: 1px solid #414141;
    background-color: #333333;
  }
}

.page-link {
  color: #c6c6c6;
  border: 1px solid #414141;
  background-color: #393d3e;
  transition: all 300ms;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(1, 210, 119, 0.25);
  }

  &:hover {
    color: #fff;
    background-color: #01d277;
    border-color: #01d277;
  }
}