/**
 * Base Styles
 */

html, body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(45deg, rgba(9, 28, 37, 0.925) 0%, rgba(1, 172, 98, 0.925) 100%);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}